# Archivos pesados que no deben ir al repo
data/hourly_42602_2020.csv
data/NOX-2020.csv
data/nox.csv
*.zip
data/hourly_42602_2020.csv
# Lab
data/NOX-2020.csv
TS-NOX-202.png

# Python
.venv/
__pycache__/
*.pyc
data/NOX-2020-ext.csv
data/NOX-2020-ext.csv
data/NOX-2020-ext.csv
